@model IEnumerable<TrainTicket.Models.TicketInformation>

@*@{
    ViewData["Title"] = "Index";
}*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | DataTables</title>

    
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">




        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Available Tickets</h3><br />
                <a asp-action="Create" class="btn btn-success">Create New</a>
            </div>
            <div class="card-body">




                <div id="example1" class="dataTables_wrapper dt-bootstrap4">





                    <table id="example1_wrapper" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Train Name</th>
                                <th>Journey Time</th>
                                <th>Avl Sit</th>
                                <th>Sit Class</th>
                                <th>From Station</th>
                                <th>To Station</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.TrainName)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JourneyTime)
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.TotalSit)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SitClass)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FStarionName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TStationName)</td>
                                    <td>
                                        <a asp-action="Create" class="btn btn-secondary">Booking Ticket</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
             </div>
         </div>
    </div>
    
     
     <!-- AdminLTE for demo purposes -->
     <!--<script src="~/Assets/dist/js/demo.js"></script>-->
     <!-- Page specific script -->
     <script>

         $(function () {
             $("#example1").DataTable({
                 "responsive": true, "lengthChange": false, "autoWidth": false,
                 "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
             }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
             $('#example2').DataTable({
                 "paging": true,
                 "lengthChange": false,
                 "searching": false,
                 "ordering": true,
                 "info": true,
                 "autoWidth": false,
                 "responsive": true,
             });
         });
     </script>
</body>
</html>


        @*<h1>Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TrainName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JourneyTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalSit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SitClass)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StationName)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrainName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JourneyTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalSit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SitClass)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StationName)
                        </td>


                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TicketID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.TicketID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.TicketID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@
